---
layout: default
---

{% for item in site.items %}
  <a href="{{ item.url }}">
    <img src="{{ item.image }}" width="128" height="128" style="float:left;padding-right:8px">
    <h2>{{ item.title }}</h2>
  </a>
  <div>
    <div id="share-buttons">
      <a data-sharer="twitter" data-title="{{ item.title }}" data-hashtags="{{ item.tags }}" data-url="{{ site.url }}{{ item.url }}"><span class='symbol'>circletwitterbird</span></a>
      <a data-sharer="facebook" data-hashtag="{{ item.tags }}" data-url="{{ site.url }}{{ item.url }}"><span class='symbol'>circlefacebook</span></a>
    </div>
    <p>
      <b>$ {{ item.cost }}</b><br>  
      {{ item.description }}
    </p>
    <button class="button" onclick="addItem({{ item.id }});">Add to Basket</button>
  </div>
{% endfor %}

            {% assign itemsByCategory =
                site.items | group_by_exp:"item", "item.category" %}
            {% for category in itemsByCategory %}
              <b>{{ category.name }}</b>
                <ul>
                  {% for item in category.items %}
                    <li><a href="{{ item.url }}">{{ item.title }}</a></li>
                  {% endfor %}
                </ul>
            {% endfor %}
