---
layout: default
---

            {% assign itemsByCategory =
                site.items | group_by_exp:"item", "item.categories[0]" %}
            {% for category in itemsByCategory %}
              <a href="#{{ category | downcase | url_escape | strip | replace: ' ', '-' }}"><b>{{ category | downcase | url_escape | strip | replace: ' ', '-' }}</b></a><br>
            {% endfor %}

            {% for category in itemsByCategory %}
              <ul id="{{ category | downcase | url_escape | strip | replace: ' ', '-' }}">
                {% for item in category.items %}
                  <li>
                    <a href="{{ item.url }}">{{ item.title }}</a><br>
                  </li>
                {% endfor %}
              </ul>
            {% endfor %}

{% for item in site.items %}
  <a href="{{ item.url }}">
    <img src="{{ item.image }}" width="128" height="128" style="float:left;padding-right:16px">
    <h2>{{ item.title }}</h2>
  </a>
  <div>
    <div id="share-buttons">
      <a data-sharer="twitter" data-title="{{ item.title }}" data-hashtags="{{ item.tags }}" data-url="{{ site.url }}{{ item.url }}"><span class='symbol'>circletwitterbird</span></a>
      <a data-sharer="facebook" data-hashtag="{{ item.tags }}" data-url="{{ site.url }}{{ item.url }}"><span class='symbol'>circlefacebook</span></a>
    </div>
    <div>
      <b>$ {{ item.cost }}</b><br>  
      {{ item.description }}
    </div>
    <button class="button" onclick="addItem('{{ item.number }}', '{{ item.title }}', {{ item.cost }});">Pre-order</button>
  </div>
<hr>
{% endfor %}
