---
---

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['timeline']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var container = document.getElementById('timeline');
        var chart = new google.visualization.Timeline(container);
        var dataTable = new google.visualization.DataTable();

        dataTable.addColumn({ type: 'string', id: 'Song' });
        dataTable.addColumn({ type: 'date', id: 'Start' });
        dataTable.addColumn({ type: 'date', id: 'End' });
        dataTable.addRows([
          [ '1. Nightingale', new Date(0,0,0,0, 0,0), new Date(0,0,0,0, 1,30) ],
          [ '2. Skylark',      new Date(0,0,0,0, 1,30),  new Date(0,0,0,0, 2,40) ],
          [ '3. Parrot',  new Date(0,0,0,0, 2,40),  new Date(0,0,0,0, 3,30) ]]);

        chart.draw(dataTable);
      }
    </script>
    <div id="timeline" style="height: 180px;"></div>
