@font-face {
font-family: 'Literata Italic';
src: url('https://www.freealise.com/assets/fonts/literata-italic.otf');
}
@font-face {
font-family: 'Literata';
src: url('https://www.freealise.com/assets/fonts/literata-regular.otf');
}
body {
	font-family:'Literata', serif;
}
i {
	font-family:'Literata Italic', serif;
}
