/*	VARIABLES
	BASE
----------------------------------------------------- */
/* ICON PATH
================================================== */
/* TYPEFACE
================================================== */
/* COLOR SCHEME
================================================== */
/* UI COLOR
================================================== */
/* UI
================================================== */
/* Animation
================================================== */
/* GFX
================================================== */
/*	Font Base
----------------------------------------------------- */
.tl-timeline {
  font-family: 'Averia Serif Libre', serif !important;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3em;
}
.tl-timeline h1,
.tl-timeline h2,
.tl-timeline h3,
.tl-timeline h4,
.tl-timeline h5,
.tl-timeline h6 {
  font-family: 'Averia Sans Libre', sans-serif !important;
  text-transform: none !important;
  font-weight: 700;
  font-size: 16px !important;
  line-height: 16px !important;
}
.tl-timeline h2.tl-headline-title {
  font-size: 32px !important;
  line-height: 32px !important;
}
.tl-timeline p {
  font-family: 'Averia Serif Libre', serif !important;
  font-size: 16px;
  line-height: 1.3em;
}
.tl-timeline ul {
  font-family: 'Averia Serif Libre', serif !important;
}
.tl-timeline .tl-media .tl-media-wikipedia h4 a,
.tl-timeline .tl-media h4,
.tl-timeline .tl-media h4 a {
  font-family: 'Averia Serif Libre', serif !important;
  font-weight: 700;
  font-size: 24px !important;
  line-height: 24px !important;
}
.tl-timeline .tl-caption,
.tl-timeline .tl-credit {
  font-family: 'Averia Sans Libre', sans-serif !important;
}
.tl-timeline .vcard {
  font-family: 'Averia Serif Libre', serif !important;
  font-weight: normal !important;
}
.tl-timeline .tl-slidenav-next,
.tl-timeline .tl-slidenav-previous,
.tl-timeline .tl-message,
.tl-timeline .tl-timegroup-message {
  font-family: 'Averia Serif Libre', serif !important;
  font-weight: 700;
  text-transform: none !important;
}
.tl-timeline .tl-slidenav-next .tl-slidenav-title,
.tl-timeline .tl-slidenav-previous .tl-slidenav-title,
.tl-timeline .tl-message .tl-slidenav-title,
.tl-timeline .tl-timegroup-message .tl-slidenav-title {
  line-height: 1.3em !important;
}
.tl-timeline .tl-headline-date,
.tl-timeline h3.tl-headline-date {
  font-family: 'Averia Sans Libre', sans-serif !important;
  font-weight: normal !important;
  text-transform: none !important;
}
.tl-timeline .tl-headline-date small,
.tl-timeline h3.tl-headline-date small {
  font-weight: normal !important;
}
.tl-timeline .tl-timenav-slider {
  font-family: 'Averia Serif Libre', serif !important;
  font-weight: 700;
}
.tl-timeline .tl-timenav-slider h2.tl-headline {
  font-family: 'Averia Serif Libre', serif !important;
  font-weight: 700;
  text-transform: none !important;
}
.tl-timeline .tl-timenav-slider .tl-timeaxis {
  font-family: 'Averia Serif Libre', serif !important;
  font-weight: 700;
  text-transform: none !important;
}
.tl-timeline .tl-menubar {
  font-family: 'Averia Serif Libre', serif !important;
}
.tl-timeline blockquote,
.tl-timeline blockquote p {
  font-family: 'Averia Serif Libre', serif !important;
  font-style: italic;
  font-weight: 400;
  line-height: 1.3;
}
input[type="text"].editor-headline {
  font-family: 'Averia Sans Libre', sans-serif !important;
  text-transform: none !important;
  font-weight: 700;
  font-size: 24px !important;
  line-height: 24px !important;
}


.vco-storymap {
font-family:'Averia Serif Libre',serif;
font-weight:400;
font-size:16px;
line-height:1.3em
}
.vco-storymap h1,.vco-storymap h2,.vco-storymap h3,.vco-storymap h4,.vco-storymap h5,.vco-storymap h6 {
font-family:'Averia Sans Libre',sans-serif;
text-transform:none;
font-weight:700;
font-size:24px;
line-height:24px;
font-style:italic;
}
.vco-text h2.vco-headline, 
.vco-storymap h2.vco-headline-title {
font-size:24px!important;
line-height:24px!important;
}
.vco-storymap p {
font-family:'Averia Serif Libre',serif;
font-size:16px;
line-height:1.3em
}
.vco-storymap ul {
font-family:'Averia Serif Libre',serif
}
.vco-storymap .vco-media .vco-media-wikipedia h4 a {
font-family:'Averia Serif Libre',serif;
font-weight:700;
font-size:24px;
line-height:24px
}
.vco-storymap .vco-caption,.vco-storymap .vco-credit {
font-family:'Averia Serif Libre',serif
}
.vco-storymap .vcard {
font-family:'Averia Sans Libre',sans-serif!important;
font-weight:400!important;
font-style:italic;
}
.vco-storymap .vco-slidenav-next,.vco-storymap .vco-slidenav-previous,.vco-storymap .vco-message,.vco-storymap .vco-slide-calltoaction-button-text {
font-family:'Averia Sans Libre',sans-serif;
font-weight:700;
text-transform:none;
font-style:italic;
}
.vco-storymap .vco-slidenav-next .vco-slidenav-title,.vco-storymap .vco-slidenav-previous .vco-slidenav-title,.vco-storymap .vco-message .vco-slidenav-title,.vco-storymap .vco-slide-calltoaction-button-text .vco-slidenav-title {
line-height:1.3em!important
}
.vco-storymap .vco-headline-date,.vco-storymap h3.vco-headline-date {
font-family:'Averia Sans Libre',sans-serif!important;
font-weight:400!important;
text-transform:none!important;
font-style:italic;
}
.vco-storymap .vco-headline-date small,.vco-storymap h3.vco-headline-date small {
font-weight:400!important
}
.vco-storymap .vco-menubar {
font-family:'Averia Sans Libre',sans-serif;
text-transform:none;
font-style:italic;
}
.vco-storymap blockquote,.vco-storymap blockquote p {
font-family:'Averia Serif Libre',serif;
font-style:italic;
font-weight:400;
line-height:1.3
}
input[type=text].editor-headline {
font-family:'Averia Sans Libre',sans-serif;
text-transform:none;
font-weight:700;
font-size:24px;
line-height:24px;
font-style:italic;
}
