---
---

@import "{{ site.theme }}";
@font-face {
  font-family: "DejaVu";
  src: url("/phonetic/fonts/dejavu/DejaVuSansMono.ttf") format("truetype");
}
@font-face {
  font-family: "DejaVuBold";
  src: url("/phonetic/fonts/dejavu/DejaVuSansMono-Bold.ttf") format("truetype");
}

body {
    background: fixed url(https://themes.googleusercontent.com/image?id=1PDnBjUh9fvmMXrR15WHgq5VDrThy_n6OaJIxWQs3O_4shhqlYLd2ZdYqGT4Rqh-wZQjv&options=w800) top center;
    background-size: 320px auto;
    background-repeat: repeat;
    font-family: 'DejaVu', monospace;
    font-size: 16px;
}

i {
	font-family:'DejaVuBold', monospace;
}

@media print, screen and (max-width: 720px) {
	body {
	    word-wrap: normal;
	}
}

header {
    position: fixed;
    height: 100px;
    padding-top: 10px;
    padding-bottom: 15px;
    background: url(https://themes.googleusercontent.com/image?id=1PDnBjUh9fvmMXrR15WHgq5VDrThy_n6OaJIxWQs3O_4shhqlYLd2ZdYqGT4Rqh-wZQjv&options=w800) center;
    background-repeat: no-repeat;
    background-size: cover;
}
header h1 {
    color: #ffffff;
    font-size: 40px;
    font-weight: normal;
    text-shadow: 0px 0px 8px #000000;
    font-family: 'DePixel', monospace;
}
header h1 span {
    font-size: 36px;
}
header p {
    display: block;
    color: #ffffff;
    font-size:16px;
    font-weight: bold;
    text-shadow: 0px 0px 2px #000000;
}
header svg {
    right: 50%;
    margin-top: 4px;
    margin-right: 64px;
    position: fixed;
}
#banner {
    display: block;
    top: 100px;
    background: url('/assets/images/out.png') right;
    background-size: cover;
    border: none;
}
#banner .fork {
    padding: 0px;
    margin-top: 0px;
    background-color: transparent;
}
@media print, screen and (max-width: 720px) {
	#banner .fork {	
    	left:10px;
	}
}
#banner #logo {
    height:auto;
    width:96px;
    background:none;
    margin-right:5px;
}
#email {
    margin-top: 6px;
    margin-right: 0px;
    height: 30px;
    width: 150px;
    float: left;
    position: relative;
}
#email .focused {
    border:2px solid #4276b6;
}

@media print, screen and (min-width: 650px) {
	section {
	    margin-top: 175px;
	}
}
@media print, screen and (max-width: 650px) {
	section {
    		margin-top: 155px;
	}
}
.button {
    font-family: 'DejaVuBold', monospace;
    border: 1px dashed black;
    background: white;
    background-color: white;
    background-size: 24px 24px;
    border-radius: 2px;
    box-shadow: inset 0px 1px 0px rgba(255,255,255,0.4), 0px 1px 1px rgba(0,0,0,0.1);
    padding: 10px 12px;
    margin-top: 6px;
    line-height: 16px;
    font-size: 16px;
    color: black;
    font-weight: bold;
    display: inline-block;
    text-align: center;
}
#banner .button {
    font-family: 'DejaVuBold', monospace;
    border: 1px dashed white;
    background: black;
    background-color: black;
    background-size: 24px 24px;
    border-radius: 2px;
    box-shadow: inset 0px 1px 0px rgba(255,255,255,0.4), 0px 1px 1px rgba(0,0,0,0.1);
    color: white;
}
#overlay {
	width:100%;
	height:100vw;
	position:fixed;
	top:100px;
	background: rgba(255,255,255,0.67);
}
pre {
background-color: transparent;
border: none;
line-height: normal;
width: 256px;
font-family: 'DejaVu', monospace;
font-weight: bold;
font-size: 16px;
line-height: 1em;
}
#share-buttons {
}
section {
height: auto;
background:rgba(255, 255, 255, 0.8);
}
.fl {
  float: left;
  width: 0.75em;
  font-size: 48px;
  line-height: 82%;
}
hr {
clear: both;
}
#banner ul {
height: auto;
max-width: 256px;
word-break: break-word;
}

#logo_ {
    margin: 9px auto;
    height: 36px;
    width: 36px;
    display: block;
    background: url(/assets/images/octocat-logo.svg);
}

#cookie-notice {
	padding: 7px 0px; 
	display: none; 
	text-align: center; 
	position: fixed; 
	bottom: 0; 
	width: 100%; 
	background: #222; 
	color: rgba(255,255,255,0.8); 
	z-index: 11;
}
#cookie-notice a {
	cursor: pointer; 
	margin-left: 10px;
}
@media (max-width: 600px) {
        #cookie-notice span {
		display: block; 
		padding-top: 3px; 
		margin-bottom: 13px;
	}
        #cookie-notice a {
		position: relative; 
		bottom: 4px;
	}
}
