---
---

@import "{{ site.theme }}";

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Average&family=Average+Sans&display=swap');

@font-face {
  font-family: Literata Italic;
  src: url(/assets/fonts/literata-italic.otf);
}

@font-face {
  font-family: Literata;
  src: url(/assets/fonts/literata-regular.otf);
}

body {
	background: url(/assets/images/wood.jpg) bottom center;
	font-family:'Inconsolata', monospace;
}

i {
	font-family:'Inconsolata', monospace;
}

@media print, screen and (max-width: 720px) {
	body {
	    word-wrap: normal;
	}
}

header {
    position: fixed;
    height: 105px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: url('/assets/images/quilt.jpg') center 59%;
    background-repeat:no-repeat;
    background-size: 100%;
}
header h1 {
	color: #000000;
	text-shadow: 0px 0px 8px #ffffff;
}
header div {
	background: rgba(255, 255, 255, 0.5);
	max-width:256px;
	border: dashed 2px black;
}
header p {
    display: block;
    margin-top: -10px;
}
header svg {
    right: 50%;
    margin-top: 4px;
    margin-right: 64px;
    position: fixed;
}
#banner {
    display: block;
    top: 100px;
    background: url(/assets/images/out.png) center;
    border: none;
}
#banner .fork {
    padding: 0px;
    margin-top: 0px;
    background-color: transparent;
}
@media print, screen and (max-width: 720px) {
	#banner .fork {	
    	left:10px;
	}
}
#banner #logo {
    background: none;
    height:auto;
    width:auto;
    top:auto;
    right:5px;
}
#email {
    margin-top: 6px;
    margin-right: 0px;
    height: 30px;
    width: 150px;
    float: left;
    position: relative;
}
#email .focused {
    border:2px solid #4276b6;
}

@media print, screen and (min-width: 650px) {
	section {
	    margin-top: 175px;
	}
}
@media print, screen and (max-width: 650px) {
	section {
    		margin-top: 155px;
	}
}
.button {
    font-family: 'Inconsolata', monospace;
    border: 1px dashed black;
    background: white;
    background-color: white;
    background-size: 24px 24px;
    border-radius: 2px;
    box-shadow: inset 0px 1px 0px rgba(255,255,255,0.4), 0px 1px 1px rgba(0,0,0,0.1);
    padding: 10px 12px;
    margin-top: 6px;
    line-height: 14px;
    font-size: 14px;
    color: black;
    font-weight: bold;
    display: inline-block;
    text-align: center;
}
#banner .button {
    font-family: 'Inconsolata', monospace;
    border: 1px dashed white;
    background: black;
    background-color: black;
    background-size: 24px 24px;
    border-radius: 2px;
    box-shadow: inset 0px 1px 0px rgba(255,255,255,0.4), 0px 1px 1px rgba(0,0,0,0.1);
    color: white;
}

pre {
background-color: transparent;
border: none;
line-height: normal;
width: 256px;
font-family: 'Inconsolata', monospace;
font-weight: bold;
font-size: 18px;
line-height: 1em;
}
#share-buttons {
float: right;
}
section {
height: auto;
}
.fl {
  float: left;
  width: 0.75em;
  font-size: 48px;
  line-height: 82%;
}
hr {
clear: both;
}
#banner ul {
height: auto;
max-width: 256px;
word-break: break-word;
}

#logo_ {
    margin: 9px auto;
    height: 36px;
    width: 36px;
    display: block;
    background: url(/assets/images/octocat-logo.svg);
}

#cookie-notice {
	padding: 7px 0px; 
	display: none; 
	text-align: center; 
	position: fixed; 
	bottom: 0; 
	width: 100%; 
	background: #222; 
	color: rgba(255,255,255,0.8); 
	z-index: 11;
}
#cookie-notice a {
	cursor: pointer; 
	margin-left: 10px;
}
@media (max-width: 600px) {
        #cookie-notice span {
		display: block; 
		padding-top: 3px; 
		margin-bottom: 13px;
	}
        #cookie-notice a {
		position: relative; 
		bottom: 4px;
	}
}
