---
---

@import "{{ site.theme }}";

.nav {
    width: 256px;
    position: relative;
    margin-left: -128px;
    left: 50%;
}

.nav span {
    float: left;
    width: 64px;
}

.nav span a {
    color: #ffffff;
}

header {
    position: fixed;
    height: 165px;
    padding-bottom: 0px;
}
header p {
    display: block;
}
#banner {
    display: block;
    top: 165px;
}
nav {
    top: 235px;
}
section {
    margin-top: 235px;
}
