---
---

@import "{{ site.theme }}";

.nav {
    width: 256px;
    position: relative;
    margin-left: -128px;
    left: 50%;
}

.nav span {
    float: left;
    width: 64px;
}

.nav span a {
    color: #ffffff;
}

@media print, screen and (max-width: 720px) {
    header p {
        display: block;
    }
    #banner {
        top: 165px;
    }
    section {
        margin-top: 215px;
    }
}
@media print, screen and (max-width: 480px) {
    header {
        position: fixed;
    }
    #banner {
        display: block;
        top: 130px;
    }
    section {
        margin-top: 180px;
    }
}
