<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://www.freealise.com/" rel="canonical">
    <link rel="alternate" type="application/atom+xml" title="Freealise - Atom" href="https://freealise.com/feed.xml">

{% seo %}
    <link href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet'/>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://code.jquery.com/jquery-3.3.0.min.js" integrity="sha256-RTQy8VOmNlT6b2PIRur37p6JEBZUE7o8wPgMvu18MC4=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" integrity="sha256-3Jy/GbSLrg0o9y5Z5n1uw0qxZECH7C6OQpVBgNFYa0g=" crossorigin="anonymous"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    
    <link href='https://fonts.gstatic.com' rel='preconnect'/>
    <link href='https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap' rel='stylesheet'/>
    <link href='https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap' rel='stylesheet'/>
    <link href='https://fonts.googleapis.com/css2?family=Averia+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap' rel='stylesheet'/>
    <link href='https://fonts.googleapis.com/css2?family=Averia+Gruesa+Libre&display=swap' rel='stylesheet'/>
	<link href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet'/>

	<link href='https://cdn.knightlab.com/libs/soundcite/latest/css/player.css' rel='stylesheet' type='text/css'/>
	  
      <link href='https://cdn.knightlab.com/libs/timeline3/latest/css/timeline.css' rel='stylesheet' title='timeline-styles'/>
      <script src='https://cdn.knightlab.com/libs/timeline3/latest/js/timeline.js'></script>
    
	  <script src='https://js.stripe.com/v3'></script>

    	<script src='/assets/js/site.js'></script>
  </head>
  <body>
  
    <header>
      <section>
        <a href="{{ site.url }}" id="title">
          <h1 title="{{ site.title | default: site.github.repository_name }}"><img src="/assets/images/logo.svg" alt="Freealise" />{{ site.title | default: site.github.repository_name }}</h1>
          <p><i>{{ site.description | default: site.github.project_tagline }}</i></p>
        </a>
        <ul id="pages">
          <li><a href="blog.htm">Blog</a></li>
          <li><a href="store.htm">Store</a></li>
          <li><a href="events.htm">Events</a></li>
	  <li><a href="library.htm">Library</a></li>
          <li><a href="contacts.htm">Contacts</a></li>
        </ul>
      </section>
    </header>

      <div id="banner">

        <a href="javascript:showSearch();" id="logo">
          <span id="logo_"></span>
        </a>

          {% if site.show_downloads %}
          <div class="downloads">
            <span>Downloads: </span>
            <ul>
              <li><a href="{{ site.github.zip_url }}" class="button">ZIP</a></li>
              <li><a href="{{ site.github.tar_url }}" class="button">TAR</a></li>
	      <li><a href="{{ site.github.repository_url }}" class="fork button">Repo</a></li>
            </ul>
          </div>
          {% endif %}
      
        <div id="subscribe-bar">
	  <form id="subscribe-form" onsubmit="event.preventDefault();subscribeEmail(this.firstChild.value, true);">
	    <input autocomplete="email" id="email" name="email" placeholder="Email address" size="16" type="email"/>
	    <button id="subscribe-button" type="submit"><i class="material-icons">mail_outline</i> Join</button>
	  </form>
	</div>
	      
      </div><!-- end banner -->
    
    <div id="overlay"></div>

    <div class="wrapper">
      <nav>
        <ul></ul>
      </nav>
      <section>
  
        {% if page.id %}
            <h1>{{ page.title }}</h1>
            <div><b><i>{{ page.description }}</i></b></div>
        {% endif %}
        
        {{ content }}
      </section>
      <footer>
        <div id="share-buttons">
          <a rel="nofollow noreferrer" title="share on Facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}&hashtag=%23{{ page.tags }}" target="_blank"><svg width='24' height='24' viewBox="0 0 24 24"><path d="M5,3H19A2,2 0 0,1 21,5V19A2,2 0 0,1 19,21H5A2,2 0 0,1 3,19V5A2,2 0 0,1 5,3M18,5H15.5A3.5,3.5 0 0,0 12,8.5V11H10V14H12V21H15V14H18V11H15V9A1,1 0 0,1 16,8H18V5Z" fill="#000000"></path></svg></a>
          <a rel="nofollow noreferrer" title="share on Twitter" href="https://twitter.com/intent/tweet/?text={{ site.title }} : {{ site.description }} - {{ page.title }}&url={{ site.url }}{{ page.url }}&hashtags={{ page.tags }}" target="_blank"><svg width='24' height='24' viewBox="0 0 24 24"><path d="M5,3H19A2,2 0 0,1 21,5V19A2,2 0 0,1 19,21H5A2,2 0 0,1 3,19V5A2,2 0 0,1 5,3M17.71,9.33C18.19,8.93 18.75,8.45 19,7.92C18.59,8.13 18.1,8.26 17.56,8.33C18.06,7.97 18.47,7.5 18.68,6.86C18.16,7.14 17.63,7.38 16.97,7.5C15.42,5.63 11.71,7.15 12.37,9.95C9.76,9.79 8.17,8.61 6.85,7.16C6.1,8.38 6.75,10.23 7.64,10.74C7.18,10.71 6.83,10.57 6.5,10.41C6.54,11.95 7.39,12.69 8.58,13.09C8.22,13.16 7.82,13.18 7.44,13.12C7.81,14.19 8.58,14.86 9.9,15C9,15.76 7.34,16.29 6,16.08C7.15,16.81 8.46,17.39 10.28,17.31C14.69,17.11 17.64,13.95 17.71,9.33Z" fill="#000000"></path></svg></a>
          <a rel="nofollow noreferrer" title="share on Reddit" href="https://www.reddit.com/submit?url={{ site.url }}{{ page.url }}&title={{ page.title }}" target="_blank"><i class="material-icons">help</i></a>
	  <a rel="nofollow noreferrer" title="share on LinkedIn" href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title={{ page.title }}&summary={{ page.tags }}&source={{ site.url }}" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="mdi-linkedin" width="24" height="24" viewBox="0 0 24 24"><path d="M19 3A2 2 0 0 1 21 5V19A2 2 0 0 1 19 21H5A2 2 0 0 1 3 19V5A2 2 0 0 1 5 3H19M18.5 18.5V13.2A3.26 3.26 0 0 0 15.24 9.94C14.39 9.94 13.4 10.46 12.92 11.24V10.13H10.13V18.5H12.92V13.57C12.92 12.8 13.54 12.17 14.31 12.17A1.4 1.4 0 0 1 15.71 13.57V18.5H18.5M6.88 8.56A1.68 1.68 0 0 0 8.56 6.88C8.56 5.95 7.81 5.19 6.88 5.19A1.69 1.69 0 0 0 5.19 6.88C5.19 7.81 5.95 8.56 6.88 8.56M8.27 18.5V10.13H5.5V18.5H8.27Z" /></svg></a>
          <a rel="nofollow noreferrer" title="share via email" href="mailto:%40.?subject={{ page.title }}&body={{ page.tags }}%0A{{ site.url }}{{ page.url }}" target="_blank"><i class="material-icons">contact_mail</i></a>
        </div>
        {% if site.github.is_project_page %}
          <p>Project maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://twitter.com/mattgraham">mattgraham</a></small></p>
        <canvas id="canvas" width="30" height="30" style="background-color:#333"></canvas>

        <script>
        var canvas = document.getElementById("canvas");
        var ctx = canvas.getContext("2d");
        var radius = canvas.height / 2;
        ctx.translate(radius, radius);
        radius = radius * 0.90
        setInterval(drawClock, 1000);

        function drawClock() {
          drawFace(ctx, radius);
          drawNumbers(ctx, radius);
          drawTime(ctx, radius);
        }

        function drawFace(ctx, radius) {
          var grad;
          ctx.beginPath();
          ctx.arc(0, 0, radius, 0, 2*Math.PI);
          ctx.fillStyle = 'white';
          ctx.fill();
          grad = ctx.createRadialGradient(0,0,radius*0.95, 0,0,radius*1.05);
          grad.addColorStop(0, '#333');
          grad.addColorStop(0.5, 'white');
          grad.addColorStop(1, '#333');
          ctx.strokeStyle = grad;
          ctx.lineWidth = radius*0.1;
          ctx.stroke();
          ctx.beginPath();
          ctx.arc(0, 0, radius*0.1, 0, 2*Math.PI);
          ctx.fillStyle = '#333';
          ctx.fill();
        }

        function drawNumbers(ctx, radius) {
          var ang;
          var num;
          ctx.font = radius*0.15 + "px arial";
          ctx.textBaseline="middle";
          ctx.textAlign="center";
          for(num = 1; num < 13; num++){
            ang = num * Math.PI / 6;
            ctx.rotate(ang);
            ctx.translate(0, -radius*0.85);
            ctx.rotate(-ang);
            ctx.fillText(num.toString(), 0, 0);
            ctx.rotate(ang);
            ctx.translate(0, radius*0.85);
            ctx.rotate(-ang);
          }
        }

        function drawTime(ctx, radius){
            var now = new Date();
            var hour = now.getHours();
            var minute = now.getMinutes();
            var second = now.getSeconds();
            //hour
            hour=hour%12;
            hour=(hour*Math.PI/6)+
            (minute*Math.PI/(6*60))+
            (second*Math.PI/(360*60));
            drawHand(ctx, hour, radius*0.5, radius*0.07);
            //minute
            minute=(minute*Math.PI/30)+(second*Math.PI/(30*60));
            drawHand(ctx, minute, radius*0.8, radius*0.07);
            // second
            second=(second*Math.PI/30);
            drawHand(ctx, second, radius*0.9, radius*0.02);
        }

        function drawHand(ctx, pos, length, width) {
            ctx.beginPath();
            ctx.lineWidth = width;
            ctx.lineCap = "round";
            ctx.moveTo(0,0);
            ctx.rotate(pos);
            ctx.lineTo(0, -length);
            ctx.stroke();
            ctx.rotate(-pos);
        }
        </script>
      </footer>
    </div>

    <div id="cookie-notice"><i>We use third party cookies and scripts to improve your experience on this website.</i><a id="cookie-notice-accept" class="btn btn-primary btn-sm">OK</a><a href="/cookies.html" class="btn btn-primary btn-sm">More info</a></div>
    <script src="/assets/js/cookie_notice.js"></script>
	  
	<div id="search">
          <script async src="https://cse.google.com/cse.js?cx=69f5fae6aeba217dd"></script>
          <div class="gcse-search" enableAutoComplete="true"></div>
    	</div>

    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}

  </body>
</html>
